.Test {
    background-color: snow;
    border: 1px solid black;
    width: 100vw;
    height: 35vh;
    padding-left: 10px;
}
.answer-buttons {
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-bottom: 10px;
}
.answer-buttons button {
    background-color: snow;
    border: 2px solid lightgray;
}
.answer-buttons button:hover {
    background-color: lightgray;
}
.choice-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 110px;
    height: 10px;
}
.choice-buttons button{
    background-color: rgb(83, 218, 173);
    border: 2px solid rgb(83, 218, 173);
    color: snow;
}
.choice-buttons button:hover{
    background-color: aquamarine;
    border: 2px solid aquamarine;
}

.active {
    background-color: rgb(174, 247, 174);
}
.non-active {
    background-color: gainsboro;
}

